h1{
    color: blue;
    background: pink;
}
h2{
    color: red;
    background: blue;
}
p{
    color: orange;
    background: green;
}
h3{
    color:aqua;
    background: #f15df1;
}
a{
    display:block;
    padding: 50px 50px;
    color: #f15;
    background: #005621;
}